<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<title>
    AboutUs
</title>

<body>
    <div class="about-section paddingTB60 grey-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6" style="background-color: rgb(122, 113, 66);">
                    <div class="about-title clearfix">
                        <h1> About Us </h1>
                        <h3> Beyond The Décor </h3>
                        <p class="about-paddingB">Beyond The Décor specializes in creating exceptional events for both private and corporate clients. We work with you closely to offer you experiences that will be etched as memorable experiences in your life.
                            We create amazing occasion and entertainment events through the extraordinary event design, planning and production. We pride ourselves on delivering a first-class service to each and every one of our clients, large and small.
                            We make it our priority to understand our client’s objectives, working alongside clients from concept to completion to create a unique and memorable event. From initial consultation to final briefing meetings, we ensure that we understand your vision.
                            We can help fledgling events get off the ground and existing events soar. We’re flexible, fast, responsive and reliable. And we always bring a fresh perspective. No matter what stage of the planning you’re in, we’d welcome the opportunity to help you make your event the best it can be.                            
                        
                        </p>
                        <p>Your vision. Our innovation.</p>
                        <p>Welcome to Beyond The Décor Company Showcase; a unique collection of our favourite projects, delivered to clients. We design, develop and deliver hundreds of events every year, encouraging each event to grow organically through carefully devised strategies.</p>
                <div class="about-icons"> 
                    <ul >
                        <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                        <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                        <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                        <li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                    </ul>       
</body>
 <style>

     body{ background-image: url(https://images.pexels.com/photos/5878/alcohol-glass-wine-glasses.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
background-size: cover;
margin-top: 20px;
}
     .paddingTB60 {padding:60px 0px 60px 0px;}

.about-title {}
.about-title h1 {color: #ffffff; font-size:45px;font-weight:600;}
.about-title span {color: #AF0808; font-size:45px;font-weight:700;}
.about-title h3 {color: #ffffff; font-size:23px;margin-bottom:24px;}
.about-title p {color: #ffffff; font-size:15px;line-height: 1.8;margin: 0 0 15px;}
.about-paddingB {padding-bottom: 12px;}
.about-img {padding-left: 57px;}

/* Social Icons */
.about-icons {margin:48px 0px 48px 0px ;}
.about-icons i{margin-right: 10px;padding: 0px; font-size:35px;color:#fdfbfb;box-shadow: 0 0 3px rgba(0, 0, 0, .2);}
.about-icons li {margin:0px;padding:0;display:inline-block;}
#social-fb:hover {color: #3B5998;transition:all .001s;}
 #social-tw:hover {color: #4099FF;transition:all .001s;}
 #social-gp:hover {color: #d34836;transition:all .001s;}
 #social-em:hover {color: #f39c12;transition:all .001s;}

 </style>   

  
                        
                        

</style>