<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

        <header> <h1 style="font-size:250%; text-align: center;" >RECEIPT</h1> 	
            <hr class="rounded">
                  
              
        </header>
<div class="container">
    <div class="row">
        
        <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="receipt-header">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="receipt-left">
                            <img class="img-responsive" href="https://ibb.co/H7DVyrb" img src="https://i.ibb.co/Q9FfV6T/mainlogo.png" style="width: 85px; height: 85px; border-radius: 43px;">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <div class="receipt-right">
                            <p id="date"></p>
                            <script>
                            document.getElementById("date").innerHTML = Date();
                            </script></p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="receipt-header receipt-header-mid">
                    <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                        <div class="receipt-right">
                            <h5>Beyond the Decór.</h5>
                            <p>+91 12345-6789 <i class="fa fa-phone"></i>
                            <p></p>beyondthedecor@gmail.com <i class="fa fa-envelope-o"></i></p>
                            <p></p>India <i class="fa fa-location-arrow"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="receipt-left">
                            <h1>Receipt</h1>
                        </div>
                    </div>
                </div>
            </div>
            
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9">Advance Payment</td>
                            <td class="col-md-3"><i class="fa fa-inr"></i> 1,000/-</td>
                        </tr>
                        <tr>
                            <td class="col-md-9">Tax GST</td>
                            <td class="col-md-3"><i class="fa fa-inr"></i> 50/-</td>
                        </tr>
                        <tr>
                            <td class="col-md-9">Tax CGST</td>
                            <td class="col-md-3"><i class="fa fa-inr"></i> 50/-</td>
                        </tr>
                        <tr>
                            <td class="text-right">
                            <p>
                                <strong>Total Amount: </strong>
                            </p>
                            </td>
                            <td>
                            <p>
                                <strong><i class="fa fa-inr"></i> 1,100/-</strong>
                            </p>
                            
                            </td>
                        </tr>
                        <tr>
                           
                            <td class="text-right"><h2><strong>Total: </strong></h2></td>
                            <td class="text-left text-danger"><h2><strong><i class="fa fa-inr"></i> 1,100/-</strong></h2></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="row">
                <div class="receipt-header receipt-header-mid receipt-footer">
                    <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                        <div class="receipt-right">
                            <h5 style="color: rgb(140, 140, 140);">We will contact you with further details !</h5>
                        </div>
                        <div class="product-price-btn">
        
                            <button type="button" style="text-align: center; margin: -280px 250px;" onclick="window.location.href='/pay'">PAY NOW</button>
                        <style>
                            
.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
  margin: 250px 520px;
  
}

.product-price-btn button {
  
  display: inline-block;
  height: 50px;
  width: 176px; 
  margin: 30px 125px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #111111;
  cursor: pointer;
  outline: none;
}
.product-price-btn button:hover {
  background-color: #02471d91;
}
                        </style>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="receipt-left">
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>    
    </div>
</div>
<title>Receipt</title>

<style>
        hr.rounded {
  border-top: 5px solid rgba(17, 17, 17, 0.123);
  border-radius: 2px;
}
</style>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="receipt-left">
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>    
    </div>
</div>
<title>Receipt</title>

<style>
        hr.rounded {
  border-top: 5px solid rgba(17, 17, 17, 0.123);
  border-radius: 2px;
}
</style>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="receipt-left">
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>    
    </div>
</div>
<title>Receipt</title>

<style>
        hr.rounded {
  border-top: 5px solid rgba(17, 17, 17, 0.123);
  border-radius: 2px;
}
</style>